.Folder ul {
  list-style-type: none;
  width: 100%;
}

.Folder__note_link {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.Folder__link {
  text-decoration: none;
  color: black;
}
