.Main ul {
    list-style-type: none;
}

.Main__li {
    padding: 10px;
    border: 1px solid black;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.Main__link {
    text-decoration: none;
    color: black;
}