.Main ul {
    list-style-type: none;
    width: 100%;
}

.Main__li {
    padding: 10px;
    border: 1px solid black;
    /* width: 400px; */
    display: flex;
    justify-content: space-between;
}

.Main__link {
    text-decoration: none;
    color: black;
}

.Main button {
    margin-left: 40px;
}