.FolderNav ul {
    list-style-type: none;
    padding-right: 20px;
}

.FolderNav__link {
    text-decoration: none;
    border: 1px solid black;
    color: black;
    display: inline-block;
    width: 200px;
    height: 45px;
    text-align: center;
    padding-top: 25px;
    background-color: lightgrey;
}

.FolderNav button {
    margin-left: 100px;
}
